@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&display=swap");

:root {
  --primary-color: #f5f5f5;
  --secondary-color: #c0e0f0;
  --tertiary-color: #c8f0c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-tertiary {
  background-color: var(--tertiary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-tertiary {
  color: var(--tertiary-color) !important;
}

.radius-top {
  border-radius: 10px 10px 0px 0px;
}

.m-25 {
  margin: 25px;
}


.absolute {
  position: absolute;
}

.total-width{
  min-width: 100%;
}

.total-height {
  min-height: 100dvh;
}

.middle-height {
  min-height: 50%;
}

.flex-fill{
  flex-grow: 1;
}

.relative {
  position: relative;
}



.f-grow1 {
  flex-grow: 1;
}

.f-grow2 {
  flex-grow: 2;
}

.f-grow3 {
  flex-grow: 3;
}

.f-grow4 {
  flex-grow: 4;
}

.shadow-2 {
  box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 11%) !important;
}


.mt-auto{
  margin-top: auto;
}




.f-size-1-9vh{
  font-size: 1.9vh;
}


.f-size-2vh{
  font-size: 2vh;
}


.f-size-3vh{
  font-size: 3vh;
}

.f-size-4vh{
  font-size: 4vh;
}

.f-size-5vh{
  font-size: 5vh;
}

.f-size-6vh{
  font-size: 6vh;
}

.f-size-8vh{
  font-size: 8vh;
}

.f-size-9vh{
  font-size: 9vh;
}


#letter {
  right: 10%;
  top: 28dvh;
  width: 70dvh;
  height: 80dvh;
}



#login-background {
  background-color: var(--primary-color);
  margin: 0;
  padding: 50px;
  min-height: 50vh;
}

.image-login {
  width: 25%;
  height: 25%;
}

#password-icon {
  padding: 0;
  margin: 0;
  position: relative;
  right: 30px;
  cursor: pointer;
  pointer-events: auto;
}




/* Multi step bar*/
.multi-steps {
  display: flex;
  flex-direction: column;
  width: 120%;
  max-height: 300px;
  overflow-y: auto;
  position: relative;
}

.multi-steps > li {
  counter-increment: stepNum;
  display: flex;
  flex-direction: row; /* Row para que el texto esté al lado del círculo */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  position: relative;
  padding-bottom: 20px; /* Espacio para texto debajo del título */
}

.multi-steps > li:not(:last-child):after {
  content: '';
  position: absolute;
  top: 50%; /* Centrado verticalmente con respecto al círculo */
  left: 18px; /* Ajuste según el tamaño del círculo y el borde */
  width: 2px;
  height: calc(100% - 36px); /* Ajuste para que no se superponga con el círculo */
  background-color: #2db9ff;
  z-index: -1;
}

.multi-steps > li:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 700;
  display: block;
  margin: 0 10px 0 0; /* Margen a la derecha del círculo */
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px; /* Ajuste para que el texto esté centrado en el círculo */
  text-align: center;
  border: 2px solid #2db9ff;
  border-radius: 50%;
}

.multi-steps > li .step-title {
  margin-left: 8px;
  font-weight: bold;
  color: #2db9ff;
}

.multi-steps > li .step-description {
  width: 100%; /* O el ancho que prefieras */
}

.multi-steps > li:last-child:after {
  display: none;
}

.multi-steps > li.is-active:before,
.multi-steps > li.is-active ~ li:before {
  background-color: #ededed;
  border-color: #ededed;
}

.multi-steps > li.is-active:before {
  background-color: #fff;
  border-color: tomato;
}

.multi-steps > li.is-active,
.multi-steps > li.is-active ~ li {
  color: #808080;
}

.multi-steps > li.is-active ~ li:after {
  background-color: #ededed;
}

/* Multi step bar*/

.f-wrap {
  flex-wrap: wrap;
}


/**
 * FilePond Custom Styles
 */
 .filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	border-radius: 2em;
	background-color: #edf0f4;
	height: 1em;
}

.filepond--item-panel {
	background-color: #595e68;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
}

.input-top-left {
  position: relative;
  padding: 10px;
  font-size: 16px;
}

.input-top-left::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
}

.input-top-left:focus::placeholder {
  color: transparent;
}

.input-top-left + label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: all 0.2s;
}

.input-top-left:not(:placeholder-shown) + label {
  transform: translate(0, -30px);
  font-size: 12px;
}




@media (max-width: 770px) {
  #login-background {
    flex-wrap: wrap;
  }

  .image-login {
    width: 50%;
    height: 50%;
  }

  .mh-100 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .mh-150 {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  .input {
    padding: 10px !important;
  }

  /* .p-50 {
    padding: 20px !important;
  } */

  .f-size-50 {
    font-size: 30px !important;
  }

  .f-size-22 {
    font-size: 16px !important;
  }

  .grid-c-2-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  
}

/* ADD TO LUISRRLEAL.COM */
.black-border {
  border: 1px solid black;
}

.mh-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mh-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mh-100 {
  margin-left: 100px;
  margin-right: 100px;
}

.mh-150 {
  margin-left: 150px;
  margin-right: 150px;
}

.mh-200 {
  margin-left: 200px;
  margin-right: 200px;
}

.grid-30-70 {
  display: grid;
  grid-template-columns: 30% 70%;
}

/* -------------- Estilos creados por Uriel ---------------*/

/* Estilos extra para el diseno */
li{
  list-style: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

i{
  margin-right: 5px;
}
.cursor-pointer{
  cursor: pointer;
}

.m-0{
  margin: 0;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-25{
  margin-bottom: 25px;
}

/* Estilos del dashboard */
.dashboard{
  display: grid;
  grid-template-columns: 1fr 5fr; 
}

/* Estilos del Sidebar */
/* .sidebar{
  height: 100vh;
} */

.title-sidebar{
  height: 50px;
}

/* Estilos del Contenido */
.content{
  align-items: baseline;
  height: 50px;
}

.menu-item{
  cursor: pointer;
}

.border-font {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}



/* -------- Animaciones creadas por Uriel ---------*/
.cursor-pointer:hover{
  color: #101010;
  font-weight: bolder;
}
